*{
    box-sizing: border-box;
}
body{
	width: 90%;
	margin: auto;
}
nav{
	width: 98%;
	height: 60px;
}
.menumb{
	display: none;
}
.anima1{
	text-align: center;
	font-size: 150%;
}
.anima2{
	text-align: center;
	font-size: 150%;
}
.pos-f-t{
	display: none;
}
#v-pills-home{
	width: 0px;
	height: 0px;
}
.manun{
	display: none;
}
.image{
	width: 98%;
	padding-top: 15px;
	margin-right: 20%;
}
.submits{
	width: 100%;
	height: 600px;
}
.submits>button{
	padding-left: 30px;
}
.nav-link{
	padding-right: 30%;
	padding-top: 20px; 
}
.carousel-indicators li{
	width: 10px;
    height: 10px;
    background-color: rgba(54,54,54);
    top: 50px;
}
.carousel-indicators .active {
    background-color: #ff3300;
}
.fadeInDown{
	text-align: center;
}
.zoomInDown{
	text-align: center;
}
.fa-cogs, .fa-leaf, .fa-laptop, .fa-heart, .fa-rocket, .fa-camera{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: red;
	color: white;
	margin-left: 80px;
}
.fa-cogs:before{
	left: 20px;
}
.fa, .fab, .fal, .far, .fas {
    padding-top: 18px;
    padding-left: 16px;
}
.visions{
	background-color: #F9F9F9;
	height: auto;
	border-radius: 20px;
	padding: 10px;
}
.solution{
	width: 22%;
	height: 160px;
	border: 1px solid;
	margin-left: 20px;
	border: none;
	float: left;
}
.creative{
	margin-left: 25px;
	margin-top: 25%;
	text-align: center;
}
.featuress, .features{
	width: 80%;
	margin-left: 85px;
}
.features{
	font-size: 30px;
}
.imagess{
	margin-left: 180px;
	width: 60%;
}
.solutions>.fa-heart, .fa-rocket, .fa-camera{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: red;
	color: white;
	margin-left: 1px;
}
.solutions{
	width: 60%;
	height: 180px;
	border: 1px solid;
	margin-left: 200px;
	border: none;
	float: left;
}
.creatives{
	padding-right: 220px;
	float: right;
}
.creativess{
	padding-left: 60px;
	float: right;
}
.NTS{
	margin-top: 300px;
	background-color: #ff3300;
	height: 280px;
}
.doe{
	background-color: #F9F9F9;
	height: 1650px;
}
.solutionss{
	width: 80%;
	height: 340px;
	border: 1px solid;
	margin-left: 100px;
	border: none;
	
}
.creat{
	padding-top: 10px;
	padding-left: 44%;
	font-size: 20px;
	font-weight: bold;
}
.creats{
	font-size: 15px;
	padding-left: 16%;
}
.join{
	margin-left: 40%;
	padding-bottom: 30px;
	border-radius: 40px;
}
.contacts{
	background-color: #292929;
	color: white;
	width: 100%;
	height: auto;
	margin-top: 75%;
}
.Multi{
	width: 100%;
	height: 400px;
	padding-top: 20%;
	padding-left: 5%;
	padding-right: 60px;
	margin-top: 10%;
}
.tlh{
	font-size: 18px;
}
.dlh{
	padding-top: 20px;
}
.dpvd{
	padding-top: 22px;
}
.hvtt{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-tencent-weibo, .fa-google-plus-g{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: black;
	color: white;
	margin-left: 1px;
	margin-top: 10px;
}
.Multi>i{
	padding-left: 20px;
}
.manu{
	height: 200%;
	background-color: black;
	color: white;
	margin: 0px;
}
.images{
	width: 100%;
	padding-top: 20px;
	margin-right: 10px;
}

.manu>.nav-item>.nav-link{
	padding-right: 0px;
	padding-top: 20px; 
}
#main-right{
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 100px;
	margin: auto;
}
#products{
	margin-left: 17px;
}
#products ul li{
	width: 25%;
	height: 340px;
	float: left;
	margin-right: 7px;
	list-style-type: none;
}
.content{
	width: 90%;
	height: 320px;
	margin-left: 20%;
}
.title{
	margin-top: 6px;
	text-align: center;
	color: #f1004c;
}
.price{
	margin-top: 3px;
	text-align: center;
	font-size: 12px;
	color: #999999;
}